<!-- registration_success.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация успешно завершена</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Регистрация успешно завершена</h1>
        <p>Теперь вы можете войти, используя свои учетные данные.</p>
        <a href="/login-form/">Вход</a>
    </div>

    <script>
        // Перенаправляем на форму входа через 3 секунды
        setTimeout(function() {
            window.location.href = "/login-form/";
        }, 3000);
    </script>
</body>
</html>
